/* Global reset – use this for real apps */

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* Remove Vite template junk */
body {
  display: block !important;
}
